# rename this file to `.env` and fill in the values

# set bot logger level
# available levels: info, warn, error, fatal, silent
BOT_LOGGER_LEVEL=silent

# set whether to log messages
# true = log all messages except bot messages
# false = do not log any messages
BOT_LOG_MESSAGE=true

# set maximum retries for connecting to WhatsApp Web if disconnected
BOT_MAX_RETRIES=3

# set an number phone to enable pairing mode (optional)
# example: 6281234567890
BOT_NUMBER_PAIR=

# set an number phone to enable owner mode
# you can set multiple owner numbers separated by commas
# example: 6281234567890,6289876543210
BOT_NUMBER_OWNER=

# set bot session name (default: hisoka)
BOT_SESSION_NAME=hisoka

# set prefix for bot commands
# you can use pattern, text, or other special characters
BOT_PREFIX="(?:[°•π÷×¶∆£¢€¥®™+✓=|/~!?@#%^&.©^])"

# set whether to allow commands without prefix
BOT_ALLOWED_NO_PREFIX=true # true, false

# set bot reaction status emojis
BOT_REACT_STATUS=❤️,💀,😋,😊,😒,🔥

# set your telegram bot token and chat id for sending status messages
# example: https://core.telegram.org/bots/api#authorizing-your-bot
# you can get your bot token from @BotFather
# you can get your chat id from @UserInfoToBot
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=